a {
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-color: #E9E9E9;
}

.main_title {
  display: flex;
  align-items: center;
}

.main_title a {
  font-family: "Source Sans Pro", Bold;
  font-size: 14px;
  color: #3C3B3B;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 800;
}

.links {
  margin-left: 30px;
  display: flex;
}

.links_item {
  position: relative;
}

.links_item::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #E9E9E9;
}

.links_item a {
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #3C3B3B;
  opacity: 0.5;
  text-transform: uppercase;
  margin-right: 30px;
  padding-left: 15px;
}

.menu {
  display: flex;
  align-items: center;
  color: #AAAAAA;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #E9E9E9;
}

.main {
  margin-left: auto;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menu {
    display: flex;
  }

  .main_title a {
    font-weight: 700;
  }
}
