#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-color: #E9E9E9;
  width: 100%;
  min-height: 64px;
  background-color: var(--color-white);
}

.main_title {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.main_title a {
  font-size: 14px;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.8px;
}

.links {
  display: flex;
  align-items: center;
}

.links_item {
  position: relative;
  margin-right: 30px;
}

.links_item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: var(--color-secondary-3);
}

.links_item a {
  font-family: Source Sans Pro;
  font-size: 14px;
  color: var(--color-dark-grey);
  opacity: 0.5;
  text-transform: uppercase;
  padding-left: 15px;
  letter-spacing: 4.2px;
}

.menu {
  display: flex;
  align-items: center;
  color: var(--color-accent);
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: var(--color-secondary-3);
}

.main {
  margin-left: auto;
}

@media (max-width: 425px) {
  .links {
    display: none;
  }

  .menu {
    display: flex;
  }

  .main_title {
    max-width: 100%;
  }

  .main_title a {
    font-weight: 700;
  }
}
