#main {
  flex: 2; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary_title a {
  font-size: 28px;
  font-family: "Source Sans Pro", Arial, sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 9px;
  color: #3C3B3B;
}

.post .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
  position: relative;
}

.post .header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3C3B3B;
  opacity: 0.1;
  margin-top: 10px;
}

.meta {
  display: flex;
  flex-direction: column;
  margin-left: 40px; 
}

.published {
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #3C3B3B;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center; 
}

.author .name {
  margin-right: 10px; 
  line-height: 1; 
}

.author span { 
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #3C3B3B;
  text-transform: uppercase;
  text-decoration: underline;
  opacity: 0.5;
}

.author span:hover {
  opacity: 1;
}

.meta .author img {
  border-radius: 50%;
}

.meta .author img:hover {
  opacity: 0.5;
}

.post {
  margin-bottom: 30px; 
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.post:not(:last-child) {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 10px;
  padding: 10px; 
}

.paragraph {
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #3C3B3B;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
}

.image.featured img {
  margin-top: 10px;
  max-width: 100%; 
  height: auto;
  margin: 0; 
  margin-bottom: 40px;
}

.footer {
  text-align: left;
  margin-top: 60px;
}

.actions .button.large {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  background-color: transparent; 
  color: #3C3B3B; 
  text-decoration: none;
  border: 0.5px solid #3C3B3B; 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.actions .button.large:hover {
  background-color: #3C3B3B;
  color: #fff;
  margin-bottom: 10px;
}

.actions.pagination a.disabled.button.large {
  opacity: 0.5;
  cursor: not-allowed;
}


@media screen and (max-width: 767px) {
  .post .header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .paragraph {
    margin-top: 30px;
    text-align: center;
  }
  
  .actions {
    text-align: center;
  }

  .post .header::after {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .post .header {
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .title {
    text-align: center;
  }
  
  .meta {
    text-align: right;
    margin-left: 50px;
    margin-top: 10px; 
    align-self: flex-end;
  }

  .post .header::after {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .secondary_title a {
    text-align: center;
    display: block;
  }
}
