body {
  background-color: var(--color-primary);
  font-family: "Source Sans Pro", Arial, sans-serif; 
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }
}


