#sidebar {
  flex: 1;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-post {
  padding: 10px;
  margin-bottom: 10px;
}

.mini-posts, .posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mini-post {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-post .image {
  text-align: center;
  order: 1; 
}

.mini-post .header {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding: 10px;
  overflow: auto;
  order: 2; 
}

.mini-post .author {
  text-align: center;
  order: 3;
}

.tertiary_title a {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px; 
}

.text-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.text-post .published {
  opacity: 0.5;
  font-size: 12px; 
  font-weight: 300;
  letter-spacing: 2px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.posts {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-container .header {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.list-container .image {
  order: -1;
  margin-right: 10px;
}

.list-container .tertiary_title a {
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-weight: 700;
}

.list-container .published {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

.blurb {
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px;
  border-radius: 5px;
  text-align: left; 
}

.secondary_title {
  font-size: 16px;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}

.blurb .paragraph {
  margin-top: 30px;
  font-size: 16px;
  color: var(--color-dark-grey);
  line-height: 1.5;
  opacity: 0.8; 
}

.blurb .actions {
  margin-top: 30px;
}

.blurb .button {
  font-size: 14px;
  padding: 10px 20px;
  background-color: transparent; 
  color: var(--color-dark-grey);
  text-decoration: none;
  border: 0.5px solid var(--color-dark-grey); 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #sidebar {
    flex-direction: column 
  
  }

  .mini-posts, .posts {
    width: 100%; 
  }
}



